@model bacit_dotnet.MVC.Models.SuggestionModel
<h1>
   Forslagsliste
</h1>

<div class="flex-container">
    @foreach (var user in Model.Sug)
    {
        <div>
            <h3> @user.Title</h3>
            <p>Navn: @user.Name</p> 
            <p>Team: @user.Team </p> 
            <p>Beskrivelse: @user.Description</p>
            <p>Tid: @user.TimeStamp</p>
            <p>Status: @user.Status</p>
            <a href="/Suggestions/Edit?id=@user.sugId"><button type="button" id="knapp1">Rediger</button></a>
            <a href="/Suggestions/Delete?id=@user.sugId"><button type="button" id="knapp2" button onclick="return confirm('Vil du slette dette forslaget for alltid?');">Slett</button></a>
        </div>
    }
</div>


            <form action="/suggestions/Godkjenn" method="post">

            
            <input type="hidden" name="id" value=@user.sugId>
            <ul> 
                 <li>
                     <label for="Status">Status</label>
                         <select name=Status id=Status>
                         <option value="Godkjent">Godkjent</option>
                         <option value="Ikke Godkjent">Ikke Godkjent</option>
                        </select>
                    </li>
            </ul>

            <input type="submit" value="Lagre">
            
        
            
            </form>

    }
    